@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --toastify-color-success: #117e45;
  --toastify-color-error: #ff4834;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* country with flags custom styling */
.ReactFlagsSelect-module_selectValue__152eS {
  /* display: none */
}
.ReactFlagsSelect-module_selectBtn__19wW7[aria-expanded="true"]:after,
.ReactFlagsSelect-module_selectBtn__19wW7:after {
  display: none;
}

/* resource articles single */
.blogpost img {
  margin: 2rem auto;
}

/* the slides */
.slick-slide {
  padding: 4px 8px;
}

/* the arrows */
.slick-prev:before,
.slick-next:before {
  font-size: 22px;
  line-height: 1;
  opacity: 1;
  background: white;
  color: #994279;
}

.slick-next {
  right: -18px;
}
.slick-prev {
  left: -18px;
}
