@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --toastify-color-success: #117e45;
  --toastify-color-error: #ff4834;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* country with flags custom styling */
.ReactFlagsSelect-module_selectValue__152eS {
  /* display: none */
}
.ReactFlagsSelect-module_selectBtn__19wW7[aria-expanded="true"]:after,
.ReactFlagsSelect-module_selectBtn__19wW7:after {
  display: none;
}

/* react calender */
.react-calendar {
  border: none;
}
.event-calender .react-calendar__tile--now {
  color: #994279;
  font-weight: 600;
  font-size: large;
}
.event-calender .react-calendar__tile {
  border-radius: 100%;
  padding: 10px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.event-calender .react-calendar__tile--active {
  background: #994279;
  color: white;
}

.blogpost img {
  margin: 2rem auto;
}
